<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">C.O.D.E.C.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand nav-link text-dark navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Places">Meeting Places</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="People">Members</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Links">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Info">FAQ & Achievements</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark btn btn-primary" asp-controller="Forum" asp-action="Admin">Admin Site</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid">

        <div>
            <div class="col-md-12">
                <div class="page-people-directory">
                    <div class="row">
                        <div class="col-md-3">

                            <br>

                            <h5 class="hidden"><b>Admins</b></h5>
                            <div class="list-group people-group hidden">
                                <a href="#" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">John Wayne</h4>
                                            <small>Software Engineer</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Jane Dane</h4>
                                            <small>Software Engineer</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Juan Dela Cruz</h4>
                                            <small>Software Engineer</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="...">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Jose Cruz</h4>
                                            <small>Software Engineer</small>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-9">
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>@ViewBag.heading</h3>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                            <div class="list-group contact-group">
                                @RenderBody()
                            </div>
                            <div class="pull-right hidden">
                                <ul class="pagination pagination-split pagination-sm pagination-contact">
                                    <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal modal-pull-right" data-easein="fadeInRight" data-easeout="fadeOutRight" id="modal-pull-right-add" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content animated fadeOutRight">
                                <div class="modal-body">
                                    <div class="row modal-close">
                                        <div class="col-md-12 padding-bottom-8 padding-top-8 bg-silver">
                                            <h4 class="pull-left"><b>Create New Contact</b></h4>
                                            <ul class="list-unstyled list-inline text-right">
                                                <li class="close-right-modal"><span class="fa fa-times fa-2x" data-dismiss="modal"></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="contact-add-content">
                                                <form class="form-horizontal tabular-form margin-top-10">
                                                    <div class="form-group">
                                                        <label for="name" class="col-sm-2 control-label">Name</label>
                                                        <div class="col-sm-10 tabular-border">
                                                            <input type="text" class="form-control" id="name" placeholder="Full Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                                        <div class="col-sm-10 tabular-border">
                                                            <input type="text" class="form-control" id="email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phone" class="col-sm-2 control-label">Phone</label>
                                                        <div class="col-sm-10 tabular-border">
                                                            <input type="text" class="form-control" id="phone" placeholder="Phone">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="address" class="col-sm-2 control-label">Address</label>
                                                        <div class="col-sm-10 tabular-border">
                                                            <input type="text" class="form-control" id="address" placeholder="Address">
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button type="button" class="btn btn-silver btn-flat">Cancel</button> <button type="button" class="btn btn-green btn-flat">Save Changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - C.O.D.E.C - <a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
