
@model Message
@{
    ViewData["Title"] = "C.O.D.E.C. Add a message";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width =device-width" />
    <title>Add a Message</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container text-center jumbotron">
        @Html.ValidationMessage("Valid User")
        <p>user:admin, pass:pass for a marked top reply</p>
        <form class="p-a-1" asp-action="NewMessage" method="post">
            <input asp-for="TopicTitle" hidden value="@Model.TopicTitle" />
            <input asp-for="Phone" hidden value="1" />
            <input asp-for="Email" hidden value="test@test.com" />
            <input asp-for="Address" hidden value="1" />
            <input asp-for="MemberCheck" hidden value="@true" />
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="User">Username: </label>
                <input class="form-control" asp-for="User" value="nonadmin" />
            </div>
            <div class="form-group">
                <label asp-for="Body">Enter your message here:</label>
                <textarea class="form-control" asp-for="Body"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit Message</button>
            </div>
        </form>
        <a href="/Home/">Home</a><br />
        <a href="/Forum/">Forum</a>
    </div>
</body>
</html>
