
@model Topic
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width =device-width" />
    <title>Hello! @Model.Author;</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container text-center jumbotron">
        @Html.ValidationMessage("LoginError")
        <form class="p-a-1" asp-action="NewTopic" method="post">
            <input asp-for="Author" hidden value="@Model.Author" />
            <input asp-for="UserName" hidden value="@Model.Author.UserName" />
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Title">Title: </label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="Body">Body:</label>
                <textarea class="form-control" asp-for="Body"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit Topic</button>
            </div>
        </form>
        <a href="/Home/">Home</a><br />
        <a href="/Forum/">Forum</a>
    </div>
</body>
</html>
