@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "C.O.D.E.C. Links";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>History</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h1>Links</h1>
        <h4>Cool links and other internet stuff</h4>
        <p>
           more news at 11.
            back to you johnny
        </p>
    </body>
</html>